.container {
  background-color: #f10000;
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.onequestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px auto;
  background-color: rgb(36, 133, 218);
  max-width: 450px;
}
.imgContainer {
  background-color: chartreuse;
  width: 100%;
}
.questionImage {
  object-fit: contain;
  width: 100%;
}
.answerBtn {
  cursor: pointer;
  border: none;
  background: transparent;
  text-align: left;
  padding: 5px 10px 3px 20px;
}

.question {
  width: 370px;
}
.answerBtnn {
  cursor: pointer;
  border: none;
  background: transparent;
  text-align: left;
  padding: 5px 10px 3px 20px;
  background-color: aqua;
}
